@import "../../_custom-variables.scss";
@import "../../_custom-mixins.scss";

.groups-overview{
    padding: 0;
}

.group-list-item{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: $default-spacing/2;
    padding: $default-spacing/2;
    color: $brand-primary;
    background: $gray-lighter;
}

a.group-list-item,
button.group-list-item{
    &:hover{
        color: $white;
        background: $brand-primary;
    }
}


