@import "../../_custom-variables.scss";
@import "../../_custom-mixins.scss";

.groups-overview{
    padding: 0;
}

.group-list-item{
    @include align-vertically;
    list-style: none;
    margin-bottom: $default-spacing/2;
    text-transform: uppercase;
    font-size: $font-size-base;
    line-height: 1em;
    background: $brand-secondary;

    &:hover{
        background: $brand-secondary;
    }

    &:after{
        @include icon-arrow-right;
        padding: $default-spacing/2;
        color: $white;
    }

    &__name{
        flex-grow: 1;
        padding: $default-spacing/2;
        color: $white;
        line-height: 1em;
    }

    &__info{
        width: 100px;
        padding: $default-spacing/2;
        font-size: $font-size-small;
        color: $brand-primary;
        background: $brand-primary-light;
    }
}


