@import "../_custom-variables.scss";
@import "../_custom-mixins.scss";
html{
    font-size: $font-size-root - 4;

    @include breakpoint(xs){
        font-size: $font-size-root;
    }
}
body {
    overflow-y: scroll;
    word-wrap: break-word;
}

main{
    padding: $default-spacing;
    min-height: 50vh;
}

footer{
    @include clearfix;
    margin-bottom: 200px; //Will be deleted
    padding: $default-spacing $default-spacing 0;
    background: $gray-lighter;
}