/* Unlike _base.scss, this is specific utilities/helpers you have to add to your elements
 * Used for
 * * Extending on existing content
 * References:
 *    Resources\3rd-party\libraries\bootstrap\_utility.scss */
@import "../_custom-variables.scss";
@import "../_custom-mixins.scss";


.equal-height{
    @include equal-height-row;
}

.align-vertically{
    @include align-vertically;
}

.canvas-keep-aspect{
    float: left;
    width: 100%;
}


//no margin
.m0,
.no-margin{
    margin: 0 !important;
}
//margin-top
.mt {
    margin-top: $default-spacing/2;

    &1 {margin-top: $default-spacing;}
    &2 {margin-top: $default-spacing*2;}
}
//margin-bottom
.mb {
    margin-bottom: $default-spacing/2;

    &1 {margin-bottom: $default-spacing;}
    &2 {margin-bottom: $default-spacing*2;}
}
//margin-right
.mr {
    margin-right: $default-spacing/2;

    &1 {margin-right: $default-spacing;}
    &2 {margin-right: $default-spacing*2;}
}
//margin-left
.ml {
    margin-left: $default-spacing/2;

    &1 {margin-left: $default-spacing;}
    &2 {margin-left: $default-spacing*2;}
}

.uppercase{
    text-transform: uppercase; 
}

.boxed{
    @include clearfix;
    margin-bottom: $default-spacing;
    padding: $default-spacing $default-spacing 0;
    background: $brand-primary-light;
    
    &--primary{
        color: $white;
        background: $brand-primary;

        a{
            color: inherit;
            text-decoration: underline;
        }
    }
}


//CALL TO ACTION
.cta{
    position: relative;
    display: inline-block;
    line-height: $cta-size;
    padding: 0 $default-spacing/2;
    padding-right: ($cta-size + $default-spacing);
    text-transform: uppercase;
    color: $white;
    border: 0;
    background: rgba($brand-primary-light, 0.5);

    &:after{
        @include icon-arrow-right;
        position: absolute;
        top: 0;
        right: 0;
        width: $cta-size;
        height: 100%;
        background: $brand-secondary;
    }
}

// BUTTONS
button{
    @extend .btn;
}

.btn{
    @include transition-std;
    padding: 1.1em 1em 0.8em;
    line-height: 1em;
    font-weight: bold;
    color: $brand-primary;
    text-transform: uppercase;
    background: $gray-light;
    
    &:hover{
        background: $gray;
    }

    &:disabled{
        cursor: default;
        opacity: 0.5;
    }

    &.selected{
        color: $white;
        background: $brand-success;

        &:hover{
            background: $brand-success;
        }
    }

    &-primary{
        color: $white;
        background: $brand-primary;
       
        &:hover{
            background: $brand-primary-dark;
        }
    }

    &-outlined{
        color: $white;
        border: 1px solid $white;
        background: transparent;

        &:hover{
            color: $brand-primary;
            background: $white;
        }
    }
    
    
    &--auth{
        $auth-icon-size: 40px;

        @include transition-std;
        position: relative;
        display: block;
        width: 100%;
        line-height: $auth-icon-size;
        text-align: left;
        padding: 0 $default-spacing/2;
        padding-left: $auth-icon-size + ($default-spacing/2);
        margin-bottom: $default-spacing;

        &:hover{
            color: $white;
        }

        &:before{
            position: absolute;
            top: 0;
            left: 0;
            width: $auth-icon-size;
            height: 100%;
            margin-right: $default-spacing/4;
            text-align: center;
        }
    }

    &--google{
        color: $white;
        background: $social-google;

        &:hover{
            background: $social-google-dark;
        }

        &:before{
            @include icon-google;
            background: $social-google-dark;
        }
    }

    &--facebook{
        color: $white;
        background: $social-facebook;

        &:hover{
            background: $social-facebook-dark;
        }

        &:before{
            @include icon-facebook;
            background: $social-facebook-dark;
        }
    }
}
