/* Defines how text and text-elements should be styled 
 *    Headings,
 *    generic lists,
 *    Unstyled content (line-height, color etc.)
 *    Reference:
 *    * Resources\3rd-party\libraries\bootstrap\_type.scss */
@import "../../_custom-variables.scss";
@import "../../_custom-mixins.scss";

h1,h2,h3,h4,h5,h6{
    margin: 0 0 $default-spacing;
}
p,ul{
    margin: 0 0 $default-spacing;
}

.title{
    @include title;
}

small{
    font-size: $font-size-xs;
}

blockquote {
    margin: 0 0 $default-spacing;
    padding: $default-spacing/2 $default-spacing;
    color: $gray-dark;
    font-size: $font-size-h3;
    font-style: italic;
    font-weight: lighter;
    border-left: 5px solid $gray;
}

.heading{
    font-size: $font-size-h1;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

/*Call To Action - "calltoactiontext" is THE name, beacuse we use this in OpenPublicWeb Rule Checker*/
.calltoactiontext {
    @include transition(background ease 0.3s);
    position: relative;
    display: inline-block;
    min-width: 51%;
    margin-bottom: $default-spacing;
    padding: $default-spacing;
    border: 1px solid $gray;

    &.has-link {
        padding: 0;

        &:hover {
            background: $gray-light;
        }

        a {
            padding: $default-spacing;
        }
    }

    a {
        position: relative;
        display: block;
        color: inherit;
        z-index: 1;
    }
}
